body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #f7f9fb;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3436;
    color: white;
    padding: 15px 60px;
}
.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.navbar .btn {
    background: #00b894;
    padding: 8px 16px;
    border-radius: 5px;
}
.navbar .btn:hover {
    background: #019875;
}

/* Home */
.home-section {
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-box {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
}
.btn-primary {
    background: #0984e3;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}
.btn-primary:hover {
    background: #074f8a;
}

/* About */
.about-section {
    display: flex;
    padding: 50px;
    align-items: center;
}
.about-left img {
    width: 50%;
    border-radius: 12px;
    margin-right: 40px;
}
.about-right {
    width: 50%;
}

/* Contact */
.contact-section {
    padding: 50px;
    text-align: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
.contact-form input, .contact-form textarea {
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Predict */
.predict-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.upload-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Result */
.result-section {
    text-align: center;
    padding: 50px;
}
.result-box img {
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
